* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    height: 60vh;
    width: 35%;
    margin: 20vh auto;
    background-color: rgb(72, 72, 72);
    color: white;
}

.output {
    height: 30%;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 5rem;
    padding: 1vh 1vw;
    font-weight: bold;
}

.buttons__wraper {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 8.4vh);
    grid-gap: 1px;
    grid-template-areas: 
    'btn_MPlus btn_MMinus btn_MR btn_reset btn_changeSybol btn_persentage btn_division'
    'btn_MC btn_nuberPowNumber btn_nuberPowTwo btn_7 btn_8 btn_9 btn_multiplication'
    'btn_nuberPowThree btn_tenPowNumber btn_number_x btn_4 btn_5 btn_6 btn_minus'
    'btn_root btn_rootTwoOfNumber btn_rootThreeOfNumber btn_1 btn_2 btn_3 btn_summ'
    'btn_factorial btn_factorial btn_factorial btn_0  btn_0 btn_comma btn_equal';
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: grey;
}

/*buttons styles */
.btn-orange {background-color: orange;}
.btn-lightGrey {background-color: rgb(163, 163, 163);}

/* First row */
.btn_MPlus {grid-area: btn_MPlus;}
.btn_MMinus  {grid-area: btn_MMinus;}
.btn_MR  {grid-area: btn_MR;}
.btn_reset  {grid-area: btn_reset;}
.btn_changeSybol  {grid-area: btn_changeSybol;}
.btn_persentage  {grid-area: btn_persentage;}
.btn_division  {grid-area: btn_division;}

/*Second row */
.btn_MC  {grid-area: btn_MC;}
.btn_nuberPowNumber  {grid-area: btn_nuberPowNumber;}
.btn_nuberPowTwo  {grid-area: btn_nuberPowTwo;}
.btn_7  {grid-area: btn_7;}
.btn_8  {grid-area: btn_8;}
.btn_9  {grid-area: btn_9;}
.btn_multiplication  {grid-area: btn_multiplication;}

/*Third row */
.btn_nuberPowThree  {grid-area: btn_nuberPowThree;}
.btn_tenPowNumber  {grid-area: btn_tenPowNumber;}
.btn_number_x  {grid-area: btn_number_x;}
.btn_4  {grid-area: btn_4;}
.btn_5  {grid-area: btn_5;}
.btn_6  {grid-area: btn_6;}
.btn_minus  {grid-area: btn_minus;}

/*Fourth row */
.btn_root  {grid-area: btn_root;}
.btn_rootTwoOfNumber  {grid-area: btn_rootTwoOfNumber;}
.btn_rootThreeOfNumber  {grid-area: btn_rootThreeOfNumber;}
.btn_1  {grid-area: btn_1;}
.btn_2  {grid-area: btn_2;}
.btn_3  {grid-area: btn_3;}
.btn_summ  {grid-area: btn_summ;}

/* Fifth row */
.btn_factorial  {grid-area: btn_factorial;}
.btn_0  {grid-area: btn_0;}
.btn_comma  {grid-area: btn_comma;}
.btn_equal  {grid-area: btn_equal;}


