@import "./styles/buttons.css";
@import "./styles/display.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid black;
  height: 60vh;
  width: 35%;
  margin: 20vh auto;
  background-color: rgb(72, 72, 72);
  color: white;
  display: flex;
  flex-direction: column;
}
